.food {
    width: 100%;
  }
  .food .headerFood {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 13vh;
    height: 100vh;
    width: 100%;
  }
  
 
  .food .menu #breakfast .banner,
  .food .menu #burgers .banner,
  .food .menu #pizza .banner,
  .food .menu #grillade .banner,
  .food .menu #patte .banner,
  .food .menu #tarte .banner,
  .food .menu #salade .banner,
  .food .menu #special .banner,
  .food .menu #glace .banner,
  .food .menu #cookies .banner,
  .food .menu #patiserie .banner,
  .food .menu #pudding .banner,
  .food .menu #SaladeDeFruit .banner,
  .food .menu #tartesD .banner,
  .food .menu #gateau .banner,
  .food .menu #specialD .banner,
  .food .menu #star .banner,
  .food .menu #bChaude .banner,
  .food .menu #cocktails .banner,
  .food .menu #milkshakes .banner,
  .food .menu #wines .banner,
  .food .menuDeser #breakfast .banner,
  .food .menuDeser #burgers .banner,
  .food .menuDeser #pizza .banner,
  .food .menuDeser #grillade .banner,
  .food .menuDeser #patte .banner,
  .food .menuDeser #tarte .banner,
  .food .menuDeser #salade .banner,
  .food .menuDeser #special .banner,
  .food .menuDeser #glace .banner,
  .food .menuDeser #cookies .banner,
  .food .menuDeser #patiserie .banner,
  .food .menuDeser #pudding .banner,
  .food .menuDeser #SaladeDeFruit .banner,
  .food .menuDeser #tartesD .banner,
  .food .menuDeser #gateau .banner,
  .food .menuDeser #specialD .banner,
  .food .menuDeser #star .banner,
  .food .menuDeser #bChaude .banner,
  .food .menuDeser #cocktails .banner,
  .food .menuDeser #milkshakes .banner,
  .food .menuDeser #wines .banner,
  .food .menuBoisson #breakfast .banner,
  .food .menuBoisson #burgers .banner,
  .food .menuBoisson #pizza .banner,
  .food .menuBoisson #grillade .banner,
  .food .menuBoisson #patte .banner,
  .food .menuBoisson #tarte .banner,
  .food .menuBoisson #salade .banner,
  .food .menuBoisson #special .banner,
  .food .menuBoisson #glace .banner,
  .food .menuBoisson #cookies .banner,
  .food .menuBoisson #patiserie .banner,
  .food .menuBoisson #pudding .banner,
  .food .menuBoisson #SaladeDeFruit .banner,
  .food .menuBoisson #tartesD .banner,
  .food .menuBoisson #gateau .banner,
  .food .menuBoisson #specialD .banner,
  .food .menuBoisson #star .banner,
  .food .menuBoisson #bChaude .banner,
  .food .menuBoisson #cocktails .banner,
  .food .menuBoisson #milkshakes .banner,
  .food .menuBoisson #wines .banner {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 235px;
    height: 60px;
    border: 1px solid #c3073F;
    text-align: center;
    color: #fff;
    background: #c3073F;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  .food .menu #breakfast .banner::before,
  .food .menu #breakfast .banner::after,
  .food .menu #burgers .banner::before,
  .food .menu #burgers .banner::after,
  .food .menu #pizza .banner::before,
  .food .menu #pizza .banner::after,
  .food .menu #grillade .banner::before,
  .food .menu #grillade .banner::after,
  .food .menu #patte .banner::before,
  .food .menu #patte .banner::after,
  .food .menu #tarte .banner::before,
  .food .menu #tarte .banner::after,
  .food .menu #salade .banner::before,
  .food .menu #salade .banner::after,
  .food .menu #special .banner::before,
  .food .menu #special .banner::after,
  .food .menu #glace .banner::before,
  .food .menu #glace .banner::after,
  .food .menu #cookies .banner::before,
  .food .menu #cookies .banner::after,
  .food .menu #patiserie .banner::before,
  .food .menu #patiserie .banner::after,
  .food .menu #pudding .banner::before,
  .food .menu #pudding .banner::after,
  .food .menu #SaladeDeFruit .banner::before,
  .food .menu #SaladeDeFruit .banner::after,
  .food .menu #tartesD .banner::before,
  .food .menu #tartesD .banner::after,
  .food .menu #gateau .banner::before,
  .food .menu #gateau .banner::after,
  .food .menu #specialD .banner::before,
  .food .menu #specialD .banner::after,
  .food .menu #star .banner::before,
  .food .menu #star .banner::after,
  .food .menu #bChaude .banner::before,
  .food .menu #bChaude .banner::after,
  .food .menu #cocktails .banner::before,
  .food .menu #cocktails .banner::after,
  .food .menu #milkshakes .banner::before,
  .food .menu #milkshakes .banner::after,
  .food .menu #wines .banner::before,
  .food .menu #wines .banner::after,
  .food .menuDeser #breakfast .banner::before,
  .food .menuDeser #breakfast .banner::after,
  .food .menuDeser #burgers .banner::before,
  .food .menuDeser #burgers .banner::after,
  .food .menuDeser #pizza .banner::before,
  .food .menuDeser #pizza .banner::after,
  .food .menuDeser #grillade .banner::before,
  .food .menuDeser #grillade .banner::after,
  .food .menuDeser #patte .banner::before,
  .food .menuDeser #patte .banner::after,
  .food .menuDeser #tarte .banner::before,
  .food .menuDeser #tarte .banner::after,
  .food .menuDeser #salade .banner::before,
  .food .menuDeser #salade .banner::after,
  .food .menuDeser #special .banner::before,
  .food .menuDeser #special .banner::after,
  .food .menuDeser #glace .banner::before,
  .food .menuDeser #glace .banner::after,
  .food .menuDeser #cookies .banner::before,
  .food .menuDeser #cookies .banner::after,
  .food .menuDeser #patiserie .banner::before,
  .food .menuDeser #patiserie .banner::after,
  .food .menuDeser #pudding .banner::before,
  .food .menuDeser #pudding .banner::after,
  .food .menuDeser #SaladeDeFruit .banner::before,
  .food .menuDeser #SaladeDeFruit .banner::after,
  .food .menuDeser #tartesD .banner::before,
  .food .menuDeser #tartesD .banner::after,
  .food .menuDeser #gateau .banner::before,
  .food .menuDeser #gateau .banner::after,
  .food .menuDeser #specialD .banner::before,
  .food .menuDeser #specialD .banner::after,
  .food .menuDeser #star .banner::before,
  .food .menuDeser #star .banner::after,
  .food .menuDeser #bChaude .banner::before,
  .food .menuDeser #bChaude .banner::after,
  .food .menuDeser #cocktails .banner::before,
  .food .menuDeser #cocktails .banner::after,
  .food .menuDeser #milkshakes .banner::before,
  .food .menuDeser #milkshakes .banner::after,
  .food .menuDeser #wines .banner::before,
  .food .menuDeser #wines .banner::after,
  .food .menuBoisson #breakfast .banner::before,
  .food .menuBoisson #breakfast .banner::after,
  .food .menuBoisson #burgers .banner::before,
  .food .menuBoisson #burgers .banner::after,
  .food .menuBoisson #pizza .banner::before,
  .food .menuBoisson #pizza .banner::after,
  .food .menuBoisson #grillade .banner::before,
  .food .menuBoisson #grillade .banner::after,
  .food .menuBoisson #patte .banner::before,
  .food .menuBoisson #patte .banner::after,
  .food .menuBoisson #tarte .banner::before,
  .food .menuBoisson #tarte .banner::after,
  .food .menuBoisson #salade .banner::before,
  .food .menuBoisson #salade .banner::after,
  .food .menuBoisson #special .banner::before,
  .food .menuBoisson #special .banner::after,
  .food .menuBoisson #glace .banner::before,
  .food .menuBoisson #glace .banner::after,
  .food .menuBoisson #cookies .banner::before,
  .food .menuBoisson #cookies .banner::after,
  .food .menuBoisson #patiserie .banner::before,
  .food .menuBoisson #patiserie .banner::after,
  .food .menuBoisson #pudding .banner::before,
  .food .menuBoisson #pudding .banner::after,
  .food .menuBoisson #SaladeDeFruit .banner::before,
  .food .menuBoisson #SaladeDeFruit .banner::after,
  .food .menuBoisson #tartesD .banner::before,
  .food .menuBoisson #tartesD .banner::after,
  .food .menuBoisson #gateau .banner::before,
  .food .menuBoisson #gateau .banner::after,
  .food .menuBoisson #specialD .banner::before,
  .food .menuBoisson #specialD .banner::after,
  .food .menuBoisson #star .banner::before,
  .food .menuBoisson #star .banner::after,
  .food .menuBoisson #bChaude .banner::before,
  .food .menuBoisson #bChaude .banner::after,
  .food .menuBoisson #cocktails .banner::before,
  .food .menuBoisson #cocktails .banner::after,
  .food .menuBoisson #milkshakes .banner::before,
  .food .menuBoisson #milkshakes .banner::after,
  .food .menuBoisson #wines .banner::before,
  .food .menuBoisson #wines .banner::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -37px;
    top: 24px;
    display: block;
    width: 60px;
    height: 0px;
    border: 30px solid #c3073F;
    border-right: 20px solid #c3073F;
    border-bottom-color: #c3073F;
    border-left-color: transparent;
    transform: rotate(-5deg);
  }
  .food .menu #breakfast .banner::after,
  .food .menu #burgers .banner::after,
  .food .menu #pizza .banner::after,
  .food .menu #grillade .banner::after,
  .food .menu #patte .banner::after,
  .food .menu #tarte .banner::after,
  .food .menu #salade .banner::after,
  .food .menu #special .banner::after,
  .food .menu #glace .banner::after,
  .food .menu #cookies .banner::after,
  .food .menu #patiserie .banner::after,
  .food .menu #pudding .banner::after,
  .food .menu #SaladeDeFruit .banner::after,
  .food .menu #tartesD .banner::after,
  .food .menu #gateau .banner::after,
  .food .menu #specialD .banner::after,
  .food .menu #star .banner::after,
  .food .menu #bChaude .banner::after,
  .food .menu #cocktails .banner::after,
  .food .menu #milkshakes .banner::after,
  .food .menu #wines .banner::after,
  .food .menuDeser #breakfast .banner::after,
  .food .menuDeser #burgers .banner::after,
  .food .menuDeser #pizza .banner::after,
  .food .menuDeser #grillade .banner::after,
  .food .menuDeser #patte .banner::after,
  .food .menuDeser #tarte .banner::after,
  .food .menuDeser #salade .banner::after,
  .food .menuDeser #special .banner::after,
  .food .menuDeser #glace .banner::after,
  .food .menuDeser #cookies .banner::after,
  .food .menuDeser #patiserie .banner::after,
  .food .menuDeser #pudding .banner::after,
  .food .menuDeser #SaladeDeFruit .banner::after,
  .food .menuDeser #tartesD .banner::after,
  .food .menuDeser #gateau .banner::after,
  .food .menuDeser #specialD .banner::after,
  .food .menuDeser #star .banner::after,
  .food .menuDeser #bChaude .banner::after,
  .food .menuDeser #cocktails .banner::after,
  .food .menuDeser #milkshakes .banner::after,
  .food .menuDeser #wines .banner::after,
  .food .menuBoisson #breakfast .banner::after,
  .food .menuBoisson #burgers .banner::after,
  .food .menuBoisson #pizza .banner::after,
  .food .menuBoisson #grillade .banner::after,
  .food .menuBoisson #patte .banner::after,
  .food .menuBoisson #tarte .banner::after,
  .food .menuBoisson #salade .banner::after,
  .food .menuBoisson #special .banner::after,
  .food .menuBoisson #glace .banner::after,
  .food .menuBoisson #cookies .banner::after,
  .food .menuBoisson #patiserie .banner::after,
  .food .menuBoisson #pudding .banner::after,
  .food .menuBoisson #SaladeDeFruit .banner::after,
  .food .menuBoisson #tartesD .banner::after,
  .food .menuBoisson #gateau .banner::after,
  .food .menuBoisson #specialD .banner::after,
  .food .menuBoisson #star .banner::after,
  .food .menuBoisson #bChaude .banner::after,
  .food .menuBoisson #cocktails .banner::after,
  .food .menuBoisson #milkshakes .banner::after,
  .food .menuBoisson #wines .banner::after {
    left: auto;
    right: -37px;
    border-left: 20px solid #c3073F;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
  }

  .btna:hover{
    background-color: #ff2567;
  }

  .food .menu #breakfast .img,
  .food .menu #burgers .img,
  .food .menu #pizza .img,
  .food .menu #grillade .img,
  .food .menu #patte .img,
  .food .menu #tarte .img,
  .food .menu #salade .img,
  .food .menu #special .img,
  .food .menu #glace .img,
  .food .menu #cookies .img,
  .food .menu #patiserie .img,
  .food .menu #pudding .img,
  .food .menu #SaladeDeFruit .img,
  .food .menu #tartesD .img,
  .food .menu #gateau .img,
  .food .menu #specialD .img,
  .food .menu #star .img,
  .food .menu #bChaude .img,
  .food .menu #cocktails .img,
  .food .menu #milkshakes .img,
  .food .menu #wines .img,
  .food .menuDeser #breakfast .img,
  .food .menuDeser #burgers .img,
  .food .menuDeser #pizza .img,
  .food .menuDeser #grillade .img,
  .food .menuDeser #patte .img,
  .food .menuDeser #tarte .img,
  .food .menuDeser #salade .img,
  .food .menuDeser #special .img,
  .food .menuDeser #glace .img,
  .food .menuDeser #cookies .img,
  .food .menuDeser #patiserie .img,
  .food .menuDeser #pudding .img,
  .food .menuDeser #SaladeDeFruit .img,
  .food .menuDeser #tartesD .img,
  .food .menuDeser #gateau .img,
  .food .menuDeser #specialD .img,
  .food .menuDeser #star .img,
  .food .menuDeser #bChaude .img,
  .food .menuDeser #cocktails .img,
  .food .menuDeser #milkshakes .img,
  .food .menuDeser #wines .img,
  .food .menuBoisson #breakfast .img,
  .food .menuBoisson #burgers .img,
  .food .menuBoisson #pizza .img,
  .food .menuBoisson #grillade .img,
  .food .menuBoisson #patte .img,
  .food .menuBoisson #tarte .img,
  .food .menuBoisson #salade .img,
  .food .menuBoisson #special .img,
  .food .menuBoisson #glace .img,
  .food .menuBoisson #cookies .img,
  .food .menuBoisson #patiserie .img,
  .food .menuBoisson #pudding .img,
  .food .menuBoisson #SaladeDeFruit .img,
  .food .menuBoisson #tartesD .img,
  .food .menuBoisson #gateau .img,
  .food .menuBoisson #specialD .img,
  .food .menuBoisson #star .img,
  .food .menuBoisson #bChaude .img,
  .food .menuBoisson #cocktails .img,
  .food .menuBoisson #milkshakes .img,
  .food .menuBoisson #wines .img {
    height: 30vh;
    width: 82%;
  }
  .food .menu #breakfast .food-title,
  .food .menu #burgers .food-title,
  .food .menu #pizza .food-title,
  .food .menu #grillade .food-title,
  .food .menu #patte .food-title,
  .food .menu #tarte .food-title,
  .food .menu #salade .food-title,
  .food .menu #special .food-title,
  .food .menu #glace .food-title,
  .food .menu #cookies .food-title,
  .food .menu #patiserie .food-title,
  .food .menu #pudding .food-title,
  .food .menu #SaladeDeFruit .food-title,
  .food .menu #tartesD .food-title,
  .food .menu #gateau .food-title,
  .food .menu #specialD .food-title,
  .food .menu #star .food-title,
  .food .menu #bChaude .food-title,
  .food .menu #cocktails .food-title,
  .food .menu #milkshakes .food-title,
  .food .menu #wines .food-title,
  .food .menuDeser #breakfast .food-title,
  .food .menuDeser #burgers .food-title,
  .food .menuDeser #pizza .food-title,
  .food .menuDeser #grillade .food-title,
  .food .menuDeser #patte .food-title,
  .food .menuDeser #tarte .food-title,
  .food .menuDeser #salade .food-title,
  .food .menuDeser #special .food-title,
  .food .menuDeser #glace .food-title,
  .food .menuDeser #cookies .food-title,
  .food .menuDeser #patiserie .food-title,
  .food .menuDeser #pudding .food-title,
  .food .menuDeser #SaladeDeFruit .food-title,
  .food .menuDeser #tartesD .food-title,
  .food .menuDeser #gateau .food-title,
  .food .menuDeser #specialD .food-title,
  .food .menuDeser #star .food-title,
  .food .menuDeser #bChaude .food-title,
  .food .menuDeser #cocktails .food-title,
  .food .menuDeser #milkshakes .food-title,
  .food .menuDeser #wines .food-title,
  .food .menuBoisson #breakfast .food-title,
  .food .menuBoisson #burgers .food-title,
  .food .menuBoisson #pizza .food-title,
  .food .menuBoisson #grillade .food-title,
  .food .menuBoisson #patte .food-title,
  .food .menuBoisson #tarte .food-title,
  .food .menuBoisson #salade .food-title,
  .food .menuBoisson #special .food-title,
  .food .menuBoisson #glace .food-title,
  .food .menuBoisson #cookies .food-title,
  .food .menuBoisson #patiserie .food-title,
  .food .menuBoisson #pudding .food-title,
  .food .menuBoisson #SaladeDeFruit .food-title,
  .food .menuBoisson #tartesD .food-title,
  .food .menuBoisson #gateau .food-title,
  .food .menuBoisson #specialD .food-title,
  .food .menuBoisson #star .food-title,
  .food .menuBoisson #bChaude .food-title,
  .food .menuBoisson #cocktails .food-title,
  .food .menuBoisson #milkshakes .food-title,
  .food .menuBoisson #wines .food-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
  }
  .food .menu #breakfast .food-title:before,
  .food .menu #burgers .food-title:before,
  .food .menu #pizza .food-title:before,
  .food .menu #grillade .food-title:before,
  .food .menu #patte .food-title:before,
  .food .menu #tarte .food-title:before,
  .food .menu #salade .food-title:before,
  .food .menu #special .food-title:before,
  .food .menu #glace .food-title:before,
  .food .menu #cookies .food-title:before,
  .food .menu #patiserie .food-title:before,
  .food .menu #pudding .food-title:before,
  .food .menu #SaladeDeFruit .food-title:before,
  .food .menu #tartesD .food-title:before,
  .food .menu #gateau .food-title:before,
  .food .menu #specialD .food-title:before,
  .food .menu #star .food-title:before,
  .food .menu #bChaude .food-title:before,
  .food .menu #cocktails .food-title:before,
  .food .menu #milkshakes .food-title:before,
  .food .menu #wines .food-title:before,
  .food .menuDeser #breakfast .food-title:before,
  .food .menuDeser #burgers .food-title:before,
  .food .menuDeser #pizza .food-title:before,
  .food .menuDeser #grillade .food-title:before,
  .food .menuDeser #patte .food-title:before,
  .food .menuDeser #tarte .food-title:before,
  .food .menuDeser #salade .food-title:before,
  .food .menuDeser #special .food-title:before,
  .food .menuDeser #glace .food-title:before,
  .food .menuDeser #cookies .food-title:before,
  .food .menuDeser #patiserie .food-title:before,
  .food .menuDeser #pudding .food-title:before,
  .food .menuDeser #SaladeDeFruit .food-title:before,
  .food .menuDeser #tartesD .food-title:before,
  .food .menuDeser #gateau .food-title:before,
  .food .menuDeser #specialD .food-title:before,
  .food .menuDeser #star .food-title:before,
  .food .menuDeser #bChaude .food-title:before,
  .food .menuDeser #cocktails .food-title:before,
  .food .menuDeser #milkshakes .food-title:before,
  .food .menuDeser #wines .food-title:before,
  .food .menuBoisson #breakfast .food-title:before,
  .food .menuBoisson #burgers .food-title:before,
  .food .menuBoisson #pizza .food-title:before,
  .food .menuBoisson #grillade .food-title:before,
  .food .menuBoisson #patte .food-title:before,
  .food .menuBoisson #tarte .food-title:before,
  .food .menuBoisson #salade .food-title:before,
  .food .menuBoisson #special .food-title:before,
  .food .menuBoisson #glace .food-title:before,
  .food .menuBoisson #cookies .food-title:before,
  .food .menuBoisson #patiserie .food-title:before,
  .food .menuBoisson #pudding .food-title:before,
  .food .menuBoisson #SaladeDeFruit .food-title:before,
  .food .menuBoisson #tartesD .food-title:before,
  .food .menuBoisson #gateau .food-title:before,
  .food .menuBoisson #specialD .food-title:before,
  .food .menuBoisson #star .food-title:before,
  .food .menuBoisson #bChaude .food-title:before,
  .food .menuBoisson #cocktails .food-title:before,
  .food .menuBoisson #milkshakes .food-title:before,
  .food .menuBoisson #wines .food-title:before {
    position: absolute;
    top: 12px;
    left: 20px;
    right: 20px;
    height: 1px;
    border-top: 2px dotted rgba(255, 255, 255, 0.473);
    display: block;
    content: "";
  }
  .food .menu #breakfast .food-title .food-name,
  .food .menu #burgers .food-title .food-name,
  .food .menu #pizza .food-title .food-name,
  .food .menu #grillade .food-title .food-name,
  .food .menu #patte .food-title .food-name,
  .food .menu #tarte .food-title .food-name,
  .food .menu #salade .food-title .food-name,
  .food .menu #special .food-title .food-name,
  .food .menu #glace .food-title .food-name,
  .food .menu #cookies .food-title .food-name,
  .food .menu #patiserie .food-title .food-name,
  .food .menu #pudding .food-title .food-name,
  .food .menu #SaladeDeFruit .food-title .food-name,
  .food .menu #tartesD .food-title .food-name,
  .food .menu #gateau .food-title .food-name,
  .food .menu #specialD .food-title .food-name,
  .food .menu #star .food-title .food-name,
  .food .menu #bChaude .food-title .food-name,
  .food .menu #cocktails .food-title .food-name,
  .food .menu #milkshakes .food-title .food-name,
  .food .menu #wines .food-title .food-name,
  .food .menuDeser #breakfast .food-title .food-name,
  .food .menuDeser #burgers .food-title .food-name,
  .food .menuDeser #pizza .food-title .food-name,
  .food .menuDeser #grillade .food-title .food-name,
  .food .menuDeser #patte .food-title .food-name,
  .food .menuDeser #tarte .food-title .food-name,
  .food .menuDeser #salade .food-title .food-name,
  .food .menuDeser #special .food-title .food-name,
  .food .menuDeser #glace .food-title .food-name,
  .food .menuDeser #cookies .food-title .food-name,
  .food .menuDeser #patiserie .food-title .food-name,
  .food .menuDeser #pudding .food-title .food-name,
  .food .menuDeser #SaladeDeFruit .food-title .food-name,
  .food .menuDeser #tartesD .food-title .food-name,
  .food .menuDeser #gateau .food-title .food-name,
  .food .menuDeser #specialD .food-title .food-name,
  .food .menuDeser #star .food-title .food-name,
  .food .menuDeser #bChaude .food-title .food-name,
  .food .menuDeser #cocktails .food-title .food-name,
  .food .menuDeser #milkshakes .food-title .food-name,
  .food .menuDeser #wines .food-title .food-name,
  .food .menuBoisson #breakfast .food-title .food-name,
  .food .menuBoisson #burgers .food-title .food-name,
  .food .menuBoisson #pizza .food-title .food-name,
  .food .menuBoisson #grillade .food-title .food-name,
  .food .menuBoisson #patte .food-title .food-name,
  .food .menuBoisson #tarte .food-title .food-name,
  .food .menuBoisson #salade .food-title .food-name,
  .food .menuBoisson #special .food-title .food-name,
  .food .menuBoisson #glace .food-title .food-name,
  .food .menuBoisson #cookies .food-title .food-name,
  .food .menuBoisson #patiserie .food-title .food-name,
  .food .menuBoisson #pudding .food-title .food-name,
  .food .menuBoisson #SaladeDeFruit .food-title .food-name,
  .food .menuBoisson #tartesD .food-title .food-name,
  .food .menuBoisson #gateau .food-title .food-name,
  .food .menuBoisson #specialD .food-title .food-name,
  .food .menuBoisson #star .food-title .food-name,
  .food .menuBoisson #bChaude .food-title .food-name,
  .food .menuBoisson #cocktails .food-title .food-name,
  .food .menuBoisson #milkshakes .food-title .food-name,
  .food .menuBoisson #wines .food-title .food-name {
    padding-right: 15px;
    /* background: rgb(22, 23, 24); */
    position: relative;
  }
  .food .menu #breakfast .food-title .food-price,
  .food .menu #burgers .food-title .food-price,
  .food .menu #pizza .food-title .food-price,
  .food .menu #grillade .food-title .food-price,
  .food .menu #patte .food-title .food-price,
  .food .menu #tarte .food-title .food-price,
  .food .menu #salade .food-title .food-price,
  .food .menu #special .food-title .food-price,
  .food .menu #glace .food-title .food-price,
  .food .menu #cookies .food-title .food-price,
  .food .menu #patiserie .food-title .food-price,
  .food .menu #pudding .food-title .food-price,
  .food .menu #SaladeDeFruit .food-title .food-price,
  .food .menu #tartesD .food-title .food-price,
  .food .menu #gateau .food-title .food-price,
  .food .menu #specialD .food-title .food-price,
  .food .menu #star .food-title .food-price,
  .food .menu #bChaude .food-title .food-price,
  .food .menu #cocktails .food-title .food-price,
  .food .menu #milkshakes .food-title .food-price,
  .food .menu #wines .food-title .food-price,
  .food .menuDeser #breakfast .food-title .food-price,
  .food .menuDeser #burgers .food-title .food-price,
  .food .menuDeser #pizza .food-title .food-price,
  .food .menuDeser #grillade .food-title .food-price,
  .food .menuDeser #patte .food-title .food-price,
  .food .menuDeser #tarte .food-title .food-price,
  .food .menuDeser #salade .food-title .food-price,
  .food .menuDeser #special .food-title .food-price,
  .food .menuDeser #glace .food-title .food-price,
  .food .menuDeser #cookies .food-title .food-price,
  .food .menuDeser #patiserie .food-title .food-price,
  .food .menuDeser #pudding .food-title .food-price,
  .food .menuDeser #SaladeDeFruit .food-title .food-price,
  .food .menuDeser #tartesD .food-title .food-price,
  .food .menuDeser #gateau .food-title .food-price,
  .food .menuDeser #specialD .food-title .food-price,
  .food .menuDeser #star .food-title .food-price,
  .food .menuDeser #bChaude .food-title .food-price,
  .food .menuDeser #cocktails .food-title .food-price,
  .food .menuDeser #milkshakes .food-title .food-price,
  .food .menuDeser #wines .food-title .food-price,
  .food .menuBoisson #breakfast .food-title .food-price,
  .food .menuBoisson #burgers .food-title .food-price,
  .food .menuBoisson #pizza .food-title .food-price,
  .food .menuBoisson #grillade .food-title .food-price,
  .food .menuBoisson #patte .food-title .food-price,
  .food .menuBoisson #tarte .food-title .food-price,
  .food .menuBoisson #salade .food-title .food-price,
  .food .menuBoisson #special .food-title .food-price,
  .food .menuBoisson #glace .food-title .food-price,
  .food .menuBoisson #cookies .food-title .food-price,
  .food .menuBoisson #patiserie .food-title .food-price,
  .food .menuBoisson #pudding .food-title .food-price,
  .food .menuBoisson #SaladeDeFruit .food-title .food-price,
  .food .menuBoisson #tartesD .food-title .food-price,
  .food .menuBoisson #gateau .food-title .food-price,
  .food .menuBoisson #specialD .food-title .food-price,
  .food .menuBoisson #star .food-title .food-price,
  .food .menuBoisson #bChaude .food-title .food-price,
  .food .menuBoisson #cocktails .food-title .food-price,
  .food .menuBoisson #milkshakes .food-title .food-price,
  .food .menuBoisson #wines .food-title .food-price {
    padding-left: 15px;
    float: right;
    /* background: rgb(22, 23, 24); */
  }

  .navigation ul{
    padding-left: 0rem;
  }
  